# Практическая работа №2. Ассоциативный анализ для набора lastfm
1. Выбрать несколько стран для набора данных lastfm для сравнительного анализа

Импортируем необходимые библиотеки.

In [1]:
import pandas as pd
import numpy as np
from  mlxtend import frequent_patterns as ml
from warnings import filterwarnings as fw
fw('ignore')

Импортируем датасет, просматриваем его начало.

In [199]:
data = pd.read_csv('lastfm.csv')
data.head(20)

    user                   artist sex        country
0      1    red hot chili peppers   f        Germany
1      1  the black dahlia murder   f        Germany
2      1                goldfrapp   f        Germany
3      1         dropkick murphys   f        Germany
4      1                 le tigre   f        Germany
5      1               schandmaul   f        Germany
6      1                    edguy   f        Germany
7      1             jack johnson   f        Germany
8      1                eluveitie   f        Germany
9      1              the killers   f        Germany
10     1             judas priest   f        Germany
11     1               rob zombie   f        Germany
12     1               john mayer   f        Germany
13     1                  the who   f        Germany
14     1               guano apes   f        Germany
15     1       the rolling stones   f        Germany
16     3         devendra banhart   m  United States
17     3         boards of canada   m  United States
18     3                cocorosie   m  United States
19     3               aphex twin   m  United States

Просматриваем распределение данных по странам.

In [200]:
data['country'].value_counts().head(15)

United States         59558
United Kingdom        27638
Germany               24251
Poland                17111
Sweden                12379
Brazil                11922
Russian Federation    11676
Finland               10157
Netherlands            9673
Spain                  9322
Canada                 6928
Australia              6407
France                 5962
Italy                  5717
Turkey                 4762
Name: country, dtype: int64

Выбираем несколько стран (Германия, Испания, Бразилия).

In [201]:
countries = ['Germany','Spain','Brazil']
dataF = data[data['country'].isin(countries)]

2. Подготовить набор для поиска ассоциативных правил (группировка, «бинаризация»)

Просматриваем распределение отфильтрованных данных по полу, странам, исполнителям.

In [202]:
dataF['sex'].value_counts()

m    33501
f    11994
Name: sex, dtype: int64

In [203]:
dataF['country'].value_counts()

Germany    24251
Brazil     11922
Spain       9322
Name: country, dtype: int64

In [204]:
dataF['artist'].value_counts()

coldplay                 409
the beatles              370
red hot chili peppers    314
radiohead                313
linkin park              295
                        ...
kult                       2
happysad                   1
coma                       1
håkan hellström            1
o.s.t.r.                   1
Name: artist, Length: 1003, dtype: int64

Группируем и бинаризируем данные с помощью get_dummies.

In [205]:
dataB = dataF.groupby('user')['artist'].apply(';'.join)
dataB = dataB.str.get_dummies(";")
dataB.head()

,...and you will know us by the trail of dead,2pac,3 doors down,30 seconds to mars,311,36 crazyfists,44,50 cent,65daysofstatic,[unknown],...,wilco,within temptation,wolfgang amadeus mozart,wu-tang clan,yann tiersen,yeah yeah yeahs,yellowcard,yo la tengo,zero 7,Édith piaf
user,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

Разделим набор данных на поднаборы по полу/стране. 
Их также группируем/бинаризируем.

In [206]:
dataBsF = dataF[dataF['sex']=='f'].groupby('user')['artist'].apply(';'.join).str.get_dummies(";")
dataBsM = dataF[dataF['sex']=='m'].groupby('user')['artist'].apply(';'.join).str.get_dummies(";")
dataBcG = dataF[dataF['country']=='Germany'].groupby('user')['artist'].apply(';'.join).str.get_dummies(";")
dataBcS = dataF[dataF['country']=='Spain'].groupby('user')['artist'].apply(';'.join).str.get_dummies(";")
dataBcB = dataF[dataF['country']=='Brazil'].groupby('user')['artist'].apply(';'.join).str.get_dummies(";")
dataBsFcG = dataF[(dataF['country']=='Germany') & (dataF['sex']=='f')].groupby('user')['artist'].apply(';'.join).str.get_dummies(";")
dataBsMcB = dataF[(dataF['country']=='Brazil') & (dataF['sex']=='m')].groupby('user')['artist'].apply(';'.join).str.get_dummies(";")

3. Найти характерные комбинации музыкальных коллективов. Сопоставить характерные
комбинации для выборок по странам, по полу.

Рассмотрим характерные комбинации для всей выборки.

In [207]:
dataBapr=ml.apriori(dataB, min_support=0.01, use_colnames=True).sort_values('support', ascending=False)
dataBapr['len'] = dataBapr['itemsets'].apply(lambda x: len(x))
dataBapr[dataBapr['len']>1]

       support                                    itemsets  len
1175  0.047639                       (coldplay, radiohead)    2
1193  0.046803                     (the killers, coldplay)    2
1157  0.043878                            (muse, coldplay)    2
829   0.042206               (the killers, arctic monkeys)    2
1178  0.042206           (coldplay, red hot chili peppers)    2
...        ...                                         ...  ...
699   0.010029                  (alice in chains, nirvana)    2
1536  0.010029                      (the beatles, incubus)    2
1319  0.010029                      (die Ärzte, the hives)    2
2146  0.010029  (arctic monkeys, bloc party, foo fighters)    3
1842  0.010029                           (muse, nightwish)    2

[1820 rows x 3 columns]

Рассмотрим характерные комбинации для мужчин/женщин.

In [208]:
dataBsFapr=ml.apriori(dataBsF, min_support=0.01, use_colnames=True).sort_values('support', ascending=False)
dataBsFapr['len'] = dataBsFapr['itemsets'].apply(lambda x: len(x))
dataBsFapr[dataBsFapr['len']>1]

       support                                           itemsets  len
1441  0.063123                              (coldplay, radiohead)    2
1444  0.061462                  (coldplay, red hot chili peppers)    2
898   0.059801                      (the killers, arctic monkeys)    2
899   0.059801                        (the kooks, arctic monkeys)    2
1463  0.059801                            (the killers, coldplay)    2
...        ...                                                ...  ...
2554  0.011628                              (the offspring, nofx)    2
2550  0.011628                   (nirvana, the smashing pumpkins)    2
2540  0.011628                (nirvana, rage against the machine)    2
2533  0.011628                              (nirvana, papa roach)    2
4313  0.011628  (the beatles, coldplay, franz ferdinand, the k...    6

[3791 rows x 3 columns]

In [209]:
dataBsMapr=ml.apriori(dataBsM, min_support=0.01, use_colnames=True).sort_values('support', ascending=False)
dataBsMapr['len'] = dataBsMapr['itemsets'].apply(lambda x: len(x))
dataBsMapr[dataBsMapr['len']>1]

       support                                   itemsets  len
1145  0.042434                    (the killers, coldplay)    2
1130  0.042434                      (coldplay, radiohead)    2
1116  0.040201                           (muse, coldplay)    2
2016  0.039084                   (the beatles, radiohead)    2
1541  0.038526                   (iron maiden, metallica)    2
...        ...                                        ...  ...
1467  0.010050                  (iron maiden, hammerfall)    2
1466  0.010050                    (in flames, hammerfall)    2
1462  0.010050                (the beatles, guns n roses)    2
1452  0.010050                       (green day, ramones)    2
2417  0.010050  (the killers, muse, coldplay, bloc party)    4

[1820 rows x 3 columns]

Рассмотрим характерные комбинации для жителей Германии/Бразилии/Испании.

In [210]:
dataBcGapr=ml.apriori(dataBcG, min_support=0.01, use_colnames=True).sort_values('support', ascending=False)
dataBcGapr['len'] = dataBcGapr['itemsets'].apply(lambda x: len(x))
dataBcGapr[dataBcGapr['len']>1]

       support                                       itemsets  len
1425  0.065235                   (die Ärzte, die toten hosen)    2
1533  0.056484                         (die Ärzte, rammstein)    2
1549  0.056484                  (system of a down, die Ärzte)    2
1535  0.054893             (die Ärzte, red hot chili peppers)    2
2401  0.053302                  (system of a down, rammstein)    2
...        ...                                            ...  ...
1124  0.010342                 (breaking benjamin, rammstein)    2
2560  0.010342     (billy talent, arctic monkeys, bloc party)    3
2562  0.010342     (billy talent, arctic monkeys, mando diao)    3
2563  0.010342      (billy talent, the hives, arctic monkeys)    3
3147  0.010342  (koЯn, system of a down, slipknot, rammstein)    4

[2557 rows x 3 columns]

In [211]:
dataBcBapr=ml.apriori(dataBcB, min_support=0.01, use_colnames=True).sort_values('support', ascending=False)
dataBcBapr['len'] = dataBcBapr['itemsets'].apply(lambda x: len(x))
dataBcBapr[dataBcBapr['len']>1]

       support                                           itemsets  len
2928  0.079365                           (the beatles, radiohead)    2
2474  0.077778                          (radiohead, los hermanos)    2
2487  0.077778                        (the beatles, los hermanos)    2
1494  0.076190                       (the beatles, chico buarque)    2
2943  0.069841                           (the strokes, radiohead)    2
...        ...                                                ...  ...
3268  0.011111                    (the beatles, aerosmith, queen)    3
3267  0.011111               (the beatles, aerosmith, pink floyd)    3
3266  0.011111                     (aerosmith, pink floyd, queen)    3
3262  0.011111                  (aerosmith, van halen, metallica)    3
5386  0.011111  (avril lavigne, beyoncé, the pussycat dolls, p...    6

[4910 rows x 3 columns]

In [212]:
dataBcSapr=ml.apriori(dataBcS, min_support=0.01, use_colnames=True).sort_values('support', ascending=False)
dataBcSapr['len'] = dataBcSapr['itemsets'].apply(lambda x: len(x))
dataBcSapr[dataBcSapr['len']>1]

       support                                           itemsets  len
1176  0.088933                            (the killers, coldplay)    2
1135  0.079051                                   (muse, coldplay)    2
1155  0.077075                              (coldplay, radiohead)    2
2058  0.075099                                (the killers, muse)    2
1498  0.069170                     (the killers, franz ferdinand)    2
...        ...                                                ...  ...
4341  0.011858  (the kooks, arctic monkeys, editors, franz fer...    4
4343  0.011858      (kasabian, interpol, editors, arctic monkeys)    4
4344  0.011858    (mando diao, arctic monkeys, interpol, editors)    4
4346  0.011858         (oasis, interpol, editors, arctic monkeys)    4
6447  0.011858  (coldplay, oasis, the kooks, the killers, the ...    8

[5916 rows x 3 columns]

4. Сравнить результаты поиска характерных комбинаций разных алгоритмов (apriori,
fpgrowth, fpmax)

Рассмотрим характерные комбинации для Бразилии и сравним с результатом, полученным с помощью Apriori.

In [213]:
dataBcBfpg = ml.fpgrowth(dataBcB, min_support=0.015, use_colnames=True).sort_values('support', ascending=False)
dataBcBfpg['len'] = dataBcBfpg['itemsets'].apply(lambda x: len(x))
dataBcBfpg[dataBcBfpg['len']>1].head(10)

       support                       itemsets  len
832   0.079365       (the beatles, radiohead)    2
830   0.077778      (radiohead, los hermanos)    2
1075  0.077778    (the beatles, los hermanos)    2
842   0.076190   (the beatles, chico buarque)    2
853   0.069841       (the strokes, radiohead)    2
841   0.068254  (chico buarque, los hermanos)    2
463   0.066667  (the beatles, arctic monkeys)    2
1527  0.065079   (the beatles, amy winehouse)    2
1211  0.065079      (the beatles, pink floyd)    2
826   0.063492        (the beatles, coldplay)    2

In [214]:
dataBcBfpm = ml.fpmax(dataBcB, min_support=0.05, use_colnames=True).sort_values('support', ascending=False)
dataBcBfpm['len'] = dataBcBfpm['itemsets'].apply(lambda x: len(x))
dataBcBfpm[dataBcBfpm['len']>1].head(10)

      support                       itemsets  len
97   0.079365       (the beatles, radiohead)    2
102  0.077778    (the beatles, los hermanos)    2
96   0.077778      (radiohead, los hermanos)    2
94   0.076190   (the beatles, chico buarque)    2
86   0.069841       (the strokes, radiohead)    2
93   0.068254  (chico buarque, los hermanos)    2
91   0.066667  (the beatles, arctic monkeys)    2
82   0.065079      (the beatles, pink floyd)    2
101  0.065079   (the beatles, amy winehouse)    2
99   0.063492        (the beatles, coldplay)    2

Результаты получили практически идентичные, отличие может быть только в порядке комбинаций с одинаковой поддержкой.

5. Построить ассоциативные правила. Вывести правила с наилучшими оценками Confidence,
Lift и др.

In [223]:
dataBcBass=ml.association_rules(dataBcBfpg, metric="confidence", min_threshold=0.75)
dataBcBass.sort_values('confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
71,"(the white stripes, radiohead, franz ferdinand)",(the strokes),0.017460,0.139683,0.017460,1.00,7.159091,0.015021,inf
107,"(beyoncé, gwen stefani, rihanna)",(the pussycat dolls),0.015873,0.052381,0.015873,1.00,19.090909,0.015042,inf
9,"(rihanna, gwen stefani)",(the pussycat dolls),0.022222,0.052381,0.022222,1.00,19.090909,0.021058,inf
105,"(deep purple, aerosmith)",(metallica),0.015873,0.128571,0.015873,1.00,7.777778,0.013832,inf
49,"(rihanna, gwen stefani, avril lavigne)",(the pussycat dolls),0.017460,0.052381,0.017460,1.00,19.090909,0.016546,inf
...,...,...,...,...,...,...,...,...,...
30,"(foo fighters, ramones)",(the beatles),0.025397,0.255556,0.019048,0.75,2.934783,0.012557,2.977778
29,"(the rolling stones, arctic monkeys)",(the beatles),0.025397,0.255556,0.019048,0.75,2.934783,0.012557,2.977778
25,"(the beatles, radiohead, franz ferdinand)",(the strokes),0.025397,0.139683,0.019048,0.75,5.369318,0.015500,3.441270
28,"(the killers, kings of leon)",(arctic monkeys),0.025397,0.150794,0.019048,0.75,4.973684,0.015218,3.396825
19,"(beyoncé, paramore)",(rihanna),0.025397,0.076190,0.019048,0.75,9.843750,0.017113,3.695238

In [224]:
dataBcBass.sort_values('lift', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
53,"(rihanna, gwen stefani)","(the pussycat dolls, avril lavigne)",0.022222,0.026984,0.017460,0.785714,29.117647,0.016861,4.540741
51,"(rihanna, the pussycat dolls, avril lavigne)",(gwen stefani),0.022222,0.036508,0.017460,0.785714,21.521739,0.016649,4.496296
109,"(beyoncé, gwen stefani)","(rihanna, the pussycat dolls)",0.020635,0.036508,0.015873,0.769231,21.070234,0.015120,4.175132
49,"(rihanna, gwen stefani, avril lavigne)",(the pussycat dolls),0.017460,0.052381,0.017460,1.000000,19.090909,0.016546,inf
107,"(beyoncé, gwen stefani, rihanna)",(the pussycat dolls),0.015873,0.052381,0.015873,1.000000,19.090909,0.015042,inf
...,...,...,...,...,...,...,...,...,...
95,"(radiohead, foo fighters, david bowie)",(the beatles),0.019048,0.255556,0.015873,0.833333,3.260870,0.011005,4.466667
23,"(chico buarque, foo fighters)",(the beatles),0.023810,0.255556,0.019048,0.800000,3.130435,0.012963,3.722222
33,"(foo fighters, david bowie)",(the beatles),0.023810,0.255556,0.019048,0.800000,3.130435,0.012963,3.722222
29,"(the rolling stones, arctic monkeys)",(the beatles),0.025397,0.255556,0.019048,0.750000,2.934783,0.012557,2.977778
30,"(foo fighters, ramones)",(the beatles),0.025397,0.255556,0.019048,0.750000,2.934783,0.012557,2.977778

In [225]:
dataBcBass.sort_values('support', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(beyoncé, britney spears)",(rihanna),0.034921,0.076190,0.026984,0.772727,10.142045,0.024324,4.064762
1,"(rihanna, britney spears)",(beyoncé),0.031746,0.063492,0.026984,0.850000,13.387500,0.024969,6.243386
2,"(the strokes, the white stripes)",(radiohead),0.033333,0.173016,0.025397,0.761905,4.403670,0.019630,3.473333
3,"(led zeppelin, the doors)",(pink floyd),0.033333,0.131746,0.025397,0.761905,5.783133,0.021005,3.646667
4,"(pink floyd, the doors)",(led zeppelin),0.028571,0.112698,0.025397,0.888889,7.887324,0.022177,7.985714
...,...,...,...,...,...,...,...,...,...
104,"(kiss, deep purple)",(metallica),0.017460,0.128571,0.015873,0.909091,7.070707,0.013628,9.585714
105,"(deep purple, aerosmith)",(metallica),0.015873,0.128571,0.015873,1.000000,7.777778,0.013832,inf
106,"(beyoncé, gwen stefani)",(rihanna),0.020635,0.076190,0.015873,0.769231,10.096154,0.014301,4.003175
107,"(beyoncé, gwen stefani, rihanna)",(the pussycat dolls),0.015873,0.052381,0.015873,1.000000,19.090909,0.015042,inf
140,"(pearl jam, foo fighters, red hot chili peppers)",(u2),0.019048,0.093651,0.015873,0.833333,8.898305,0.014089,5.438095

6. Найти характерные комбинации и ассоциативные правила длины не менее 5 признаков.
Сравнить оценки качества таких правил с короткими правилами.

Найдем характерные комбинации длиной 5 и более признаков для всех мужчин.

In [219]:
dataBsFapr5 = ml.fpgrowth(dataBsF, min_support=0.01, use_colnames=True).sort_values('support', ascending=False)
dataBsFapr5['len'] = dataBsFapr5['itemsets'].apply(lambda x: len(x))
dataBsFapr5[dataBsFapr5['len']>=5].head(10)

       support                                           itemsets  len
759   0.013289  (coldplay, franz ferdinand, the kooks, the kil...    5
758   0.013289  (coldplay, the kooks, the killers, the strokes...    5
753   0.013289  (coldplay, franz ferdinand, the killers, the s...    5
1926  0.013289  (coldplay, oasis, the killers, the strokes, ar...    5
740   0.013289  (coldplay, franz ferdinand, the strokes, muse,...    5
1904  0.013289  (coldplay, oasis, the kooks, the killers, arct...    5
702   0.013289  (the beatles, franz ferdinand, the killers, th...    5
3453  0.011628  (the beatles, coldplay, franz ferdinand, the k...    5
3471  0.011628  (coldplay, franz ferdinand, the kooks, the kil...    5
3475  0.011628  (the beatles, coldplay, franz ferdinand, the k...    5

In [220]:
dataBsFass5 = ml.association_rules(dataBsFapr5, metric="confidence", min_threshold=0.005)
dataBsFass5['len1'] = dataBsFass5['antecedents'].apply(lambda x: len(x))
dataBsFass5['len2'] = dataBsFass5['consequents'].apply(lambda x: len(x))
dataBsFass5 = dataBsFass5[dataBsFass5['len1'] + dataBsFass5['len2']>=5]
dataBsFass5.sort_values('confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,len1,len2
15262,"(the beatles, coldplay, franz ferdinand, the s...",(the killers),0.011628,0.144518,0.011628,1.000000,6.919540,0.009947,inf,5,1
15228,"(the beatles, the strokes, coldplay, franz fer...",(radiohead),0.011628,0.127907,0.011628,1.000000,7.818182,0.010141,inf,4,1
10083,"(the beatles, the kooks, the killers, franz fe...",(coldplay),0.011628,0.214286,0.011628,1.000000,4.666667,0.009136,inf,4,1
9107,"(muse, radiohead, franz ferdinand)","(the strokes, coldplay)",0.013289,0.044850,0.013289,1.000000,22.296296,0.012693,inf,3,2
15263,"(the beatles, coldplay, the killers, the strok...",(franz ferdinand),0.011628,0.109635,0.011628,1.000000,9.121212,0.010353,inf,5,1
...,...,...,...,...,...,...,...,...,...,...,...
16507,(coldplay),"(the kooks, arctic monkeys, franz ferdinand, t...",0.214286,0.013289,0.011628,0.054264,4.083333,0.008780,1.043326,1,4
16369,(coldplay),"(the killers, the strokes, muse, interpol)",0.214286,0.013289,0.011628,0.054264,4.083333,0.008780,1.043326,1,4
10495,(coldplay),"(kaiser chiefs, the kooks, franz ferdinand, th...",0.214286,0.011628,0.011628,0.054264,4.666667,0.009136,1.045082,1,4
12455,(coldplay),"(the killers, the kooks, radiohead, death cab ...",0.214286,0.011628,0.011628,0.054264,4.666667,0.009136,1.045082,1,4
15317,(coldplay),"(the beatles, franz ferdinand, the killers, th...",0.214286,0.013289,0.011628,0.054264,4.083333,0.008780,1.043326,1,5

7. Привести примеры «тривиальных» и «нетривиальных» правил

Тривиальные правила: 
(beyoncé, britney spears) -> (rihanna), (pink floyd, the doors) -> (led zeppelin)

Нетривиальные правила: 
(foo fighters, ramones) -> (the beatles), (chico buarque, foo fighters) -> (the beatles)